In [69]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [70]:
#logging the url address

url = 'https://books.toscrape.com/'

response =  requests.get(url)

In [71]:
soup =  BeautifulSoup(response.text, 'html')

In [72]:
products = soup.find('ol', class_ = 'row')

In [73]:
books =  products.find_all('li')

In [74]:
headers = ['Name', 'Price', 'Availability']

df = pd.DataFrame(columns=headers)

In [75]:
df

Empty DataFrame
Columns: [Name, Price, Availability]
Index: []

In [76]:
article = products.find_all('article')

In [77]:
for row in article:
    individual_row_data = [datatitle.text.strip() for datatitle in row if datatitle.text.strip()]
    item = [line.strip() for item in individual_row_data for line in item.split('\n') if line.strip()]
    cleaned_individual_row_data= [item.replace('Â£', '$') if 'Â£' in item else item for item in item]
    length = len(df)
    df.loc[length] = cleaned_individual_row_data[:3]

In [78]:
df

                                     Name   Price Availability
0                      A Light in the ...  $51.77     In stock
1                      Tipping the Velvet  $53.74     In stock
2                              Soumission  $50.10     In stock
3                           Sharp Objects  $47.82     In stock
4            Sapiens: A Brief History ...  $54.23     In stock
5                         The Requiem Red  $22.65     In stock
6            The Dirty Little Secrets ...  $33.34     In stock
7                 The Coming Woman: A ...  $17.93     In stock
8                     The Boys in the ...  $22.60     In stock
9                         The Black Maria  $52.15     In stock
10  Starving Hearts (Triangular Trade ...  $13.99     In stock
11                  Shakespeare's Sonnets  $20.66     In stock
12                            Set Me Free  $17.46     In stock
13    Scott Pilgrim's Precious Little ...  $52.29     In stock
14                      Rip it Up and ...  $35.02     In stock
15                  Our Band Could Be ...  $57.25     In stock
16                                   Olio  $23.88     In stock
17        Mesaerion: The Best Science ...  $37.59     In stock
18           Libertarianism for Beginners  $51.33     In stock
19                It's Only the Himalayas  $45.17     In stock

In [79]:
df.to_csv('books.csv', index=False)