In [78]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [79]:
#logging the url address

url = 'https://quotes.toscrape.com/'

response =  requests.get(url)

In [80]:
soup = BeautifulSoup(response.text, 'html')

In [81]:
quoteList = soup.find('div')

In [82]:
quote = quoteList.find_all('div', class_ = 'quote')

In [83]:
headers = ['Quote', 'Author']

In [84]:
df = pd.DataFrame(columns=headers)

In [85]:
for row in quote:
    individual_row_data = [quote.text.strip() for quote in row if quote.text.strip()]
    cleaned_individual_row_data = [line.strip() for item in individual_row_data for line in item.split('\n') if line.strip()]
    final_cleaned = [item.replace('\n(about)', '') for item in cleaned_individual_row_data]
    final_cleaned = [item.replace('by', '') for item in cleaned_individual_row_data]
    #print(final_cleaned[0:2])
    length = len(df)
    df.loc[length] = final_cleaned[0:2]

In [86]:
df

                                               Quote              Author
0  “The world as we have created it is a process ...     Albert Einstein
1  “It is our choices, Harry, that show what we t...        J.K. Rowling
2  “There are only two ways to live your life. On...     Albert Einstein
3  “The person, be it gentleman or lady, who has ...         Jane Austen
4  “Imperfection is beauty, madness is genius and...      Marilyn Monroe
5  “Try not to become a man of success. Rather be...     Albert Einstein
6  “It is better to be hated for what you are tha...          André Gide
7  “I have not failed. I've just found 10,000 way...    Thomas A. Edison
8  “A woman is like a tea bag; you never know how...   Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...        Steve Martin